{{template "index" .}}
{{define "main"}}
{{$Category := "asdas"}}
{{with .Landmark}}
{{$Category = .Category}}
{{end}}
<main>
  <div class="w-4/5 mx-auto mb-20">
    <div class="mt-6 mx-auto max-w-sm p-3 rounded-md border border-stone-200">
      <div class="w-4/5 mx-auto">
        <div class="mb-6">
          {{with .Landmark}}
          <h2 class="text-2xl">Edit {{.Name}}</h2>
        </div>
        <div>
          <form id="edit_landmark" action="/landmarks/{{.ID}}" method="post">
            <input type="hidden" name="landmark_id" value="{{.ID}}">
            {{end}}
            <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
            {{with .CurrentUser}}
            <input type="hidden" name="user_id" value="{{.ID}}">
            {{end}}
            {{with .Landmark}}
            <label for="name" class="block">
              <span class="block italic text-stone-400">Name</span>
              <input id="name" type="text" name="name" class="p-2 rounded-md" placeholder="Name" value="{{.Name}}" required/>
            </label>
            <label for="native_name" class="block">
              <span class="block italic text-stone-400">Native name</span>
              <input id="native_name" type="text" name="native_name" class="p-2 rounded-md" placeholder="Native name" value="{{.NativeName}}" required/>
            </label>
            {{end}}
            <label for="category_id" class="block">
              <span class="block italic text-stone-400">Category</span>
              <select id="category_id" name="category_id" class="p-2 rounded-md w-[240px] bg-white text-stone-600 appearance-none" required>
                {{range .Categories}}
                {{if eq .Name $Category}}
                <option value="{{.ID}}" selected>{{.Name}}</option>
                {{else}}
                <option value="{{.ID}}">{{.Name}}</option>
                {{end}}
                {{end}}
              </select>
            </label>
            {{with .Landmark}}
            <label for="description" class="block">
              <span class="block italic text-stone-400">Description</span>
              <textarea id="description" name="description" class="p-2 rounded-md resize-none" rows="5" placeholder="Description" required>{{.Description}}</textarea>
            </label>
            <label for="wiki_url" class="block">
              <span class="block italic text-stone-400">Wiki URL</span>
              <input id="wiki_url" type="url" name="wiki_url" class="p-2 rounded-md" placeholder="Wikipedia URL" value="{{.WikiURL}}" required/>
            </label>
            <label for="location" class="block"/>
              <span class="block italic text-stone-400">Location</span>
              <input id="location" type="text" name="location" class="p-2 rounded-md" placeholder="Location" value="{{sliceToStr .Location}}" required/>
            </label>
            <label for="img_urls" class="block"/>
              <span class="block italic text-stone-400">Image URLs</span>
              <textarea name="img_urls" id="img_urls" rows="10" placeholder="Image URLs" class="p-2 rounded-md resize-none" required>{{sliceToStr .ImgURLs}}</textarea>
            </label>
            <div class="pt-6">
              <input type="submit" name="submit" value="Update" class="py-1 px-2 rounded-md bg-sky-500 text-white"/>
            </div>
            {{end}}
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
{{end}}
