{{template "index" .}}
{{define "main"}}
<main>
  <div class="w-4/5 mx-auto">
    <div class="mt-6 mx-auto max-w-sm p-3 rounded-md border border-stone-200">
      <div class="w-4/5 mx-auto">
        <div class="mb-6">
          <h2 class="text-2xl">New landmark</h2>
        </div>
        <div>
          {{with .Landmark}}
          <form id="edit_landmark" action="/landmarks/{{.ID}}" method="post">
            <input type="hidden" name="landmark_id" value="{{.ID}}">
            {{end}}
            <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
            {{with .CurrentUser}}
            <input type="hidden" name="user_id" value="{{.ID}}">
            {{end}}
            {{with .Landmark}}
            <label for="name" class="block">
              <span class="block italic text-stone-400">Name</span>
              <input id="name" type="text" name="name" class="p-2 rounded-md" placeholder="Name" value="{{.Name}}"/>
            </label>
            <label for="native_name" class="block">
              <span class="block italic text-stone-400">Native name</span>
              <input id="native_name" type="text" name="native_name" class="p-2 rounded-md" placeholder="Native name" value="{{.NativeName}}"/>
            </label>
            <label for="category" class="block">
              <span class="block italic text-stone-400">Category</span>
              <input id="category" type="text" name="category" class="p-2 rounded-md" placeholder="Category" value="{{.Category}}"/>
            </label>
            <label for="description" class="block">
              <span class="block italic text-stone-400">Description</span>
              <textarea id="description" name="description" class="p-2 rounded-md resize-none" rows="5" placeholder="Description">{{.Description}}</textarea>
            </label>
            <label for="wiki_url" class="block">
              <span class="block italic text-stone-400">Wiki URL</span>
              <input type="text" name="wiki_url" class="p-2 rounded-md" placeholder="Wikipedia URL" value="{{.WikiURL}}"/>
            </label>
            <label for="location" class="block"/>
              <span class="block italic text-stone-400">Location</span>
              <input type="text" name="location" class="p-2 rounded-md" placeholder="Location" value="{{.Location}}"/>
            </label>
            <label for="img_urls" class="block"/>
              <span class="block italic text-stone-400">Image URLs</span>
              <input type="text" name="img_urls" class="p-2 rounded-md" placeholder="Image URLs" value="{{.ImgURLs}}"/>
            </label>
            <div class="pt-6">
              <input type="submit" name="submit" value="Update" class="py-1 px-2 rounded-md bg-sky-500 text-white"/>
            </div>
            {{end}}
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
{{end}}
