{{ template "index" . }}
{{ define "main" }}
<main>
  {{ with .Landmark }}
  <div>
    <h1>{{ .Name }}</h1>
    <span>{{ .ID }}</span>
  </div>
  <div>
    <ul>
      <li>{{ .NativeName }}</li>
      <li>{{ .Class }}</li>
      <li>{{ .Description }}</li>
      <li><a href="{{ .WikiURL }}">Wikipedia</a></li>
      <li>{{ .Location }}</li>
      <li>{{ .ImgURLs }}</li>
      <li>{{ formatShortDate .CreatedAt }}</li>
      <li>{{ formatShortDate .UpdatedAt }}</li>
      <li>{{ .CreatedBy }}</li>
    </ul>
  </div>
  <a href="{{ .ID }}/edit">Edit</a>
  <form action="/landmarks/{{ .ID }}/delete" id="delete_landmark" method="post">
    {{ end }}
    <input type="hidden" id="csrf_token" name="csrf_token" value="{{ .CSRFToken }}"/>
    {{ with .CurrentUser }}
    <input type="hidden" id="user-id" name="user-id" value="{{ .ID }}"/>
    {{ end }}
    {{ with .Landmark }}
    <input type="hidden" id="landmark-id" name="landmark-id" value="{{ .ID }}"/>
    {{ end }}
    <label for="submit">
      <input type="submit" id="submit" value="Delete"/>
    </label>
  </form>
</main>
{{ end }}