{{ define "navbar" }}
{{ if .CurrentUser }}
<nav>
  <div>
    {{ with .CurrentUser }}
    <h2>{{ .FirstName }} {{ .LastName }}</h2>
    <p>Last login: {{ formatDate .LastLogin }}</p>
    {{ end }}
    <form action="/sign_out" method="post">
      <input type="hidden" id="csrf_token" name="csrf_token" value="{{.CSRFToken}}"/>
      <label for="submit">
        <input type="submit" id="submit" value="Sign Out"/>
      </label>
    </form>
  </div>
  <div>
    <ul>
      <li><a href="/dashboard">Dashboard</a></li>
      <li><a href="/landmarks/new">New</a></li>
    </ul>
  </div>
</nav>
{{ end }}
{{ end }}