{{template "index" .}}
{{define "content"}}
<main>
  <div>
    <h1>Elementos Manager</h1>
  </div>
  <div>
    <form action="/login" method="post">
      <label for="username">
        <input type="text" id="username" name="username" placeholder="Username"/>
      </label>
      <label for="password">
        <input type="password" id="password" name="password" placeholder="Password"/>
      </label>
      <label for="submit">
        <input type="submit" id="submit" value="Login"/>
      </label>
    </form>
  </div>
</main>
{{end}}