{{ template "index" . }}
{{ define "content" }}
<header>
  <div>
    <h1>Elementos Manager</h1>
  </div>
</header>
<main>
  <div>
    <form action="/sign_up" method="post">
      {{ with . }}
        <input type="hidden" id="csrf_token" name="csrf_token" value="{{.CSRFToken}}"/>
      {{ end }}
      <label for="first_name">
        <input type="text" id="first_name" name="first_name" placeholder="First Name"/>
      </label>
      <label for="last_name">
        <input type="text" id="last_name" name="last_name" placeholder="Last Name"/>
      </label>
      <label for="username">
        <input type="text" id="username" name="username" placeholder="Username"/>
      </label>
      <label for="email">
        <input type="email" id="email" name="email" placeholder="Email"/>
      </label>
      <label for="password">
        <input type="password" id="password" name="password" placeholder="Password"/>
      </label>
      <label for="password-confirmation">
        <input type="password" id="password-confirmation" name="password-confirmation" placeholder="Password Confirmation"/>
      </label>
      <label for="submit">
        <input type="submit" id="submit" value="Sign Up"/>
      </label>
    </form>
  </div>
  <div>
    <a href="/sign_in">Sign In</a>
  </div>
</main>
{{ end }}