{{ template "index" . }}
{{ define "content" }}
<header>
  <div>
    <h1>HITO Manager</h1>
  </div>
</header>
<main>
  {{ with .CurrentUser }}
    <h2>Hello {{ .FirstName }} {{ .LastName }}</h2>
    <p>{{ .LastLogin }}</p>
  {{ end }}
  <p>Under construction...</p>
  <form action="/sign_out" method="post">
    {{ with . }}
      <input type="hidden" id="csrf_token" name="csrf_token" value="{{.CSRFToken}}"/>
    {{ end }}
    <label for="submit">
      <input type="submit" id="submit" value="Sign Out"/>
    </label>
  </form>
</main>
{{ end }}